<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="registrado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Registrado
      </th>
      <td mat-cell *matCellDef="let element"> {{element.registrado}} </td>
    </ng-container>

    <!-- Persona  -->
    <ng-container matColumnDef="persona">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Persona </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.persona}} </mat-cell>
    </ng-container>

    <!-- Edad  -->
    <ng-container matColumnDef="edad">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Edad
        <mat-select #edadSelect (selectionChange)="onEdadChange($event)" multiple>
          <mat-option *ngFor="let rango of rangosEdad" [value]="rango">
            {{rango}}
          </mat-option>
        </mat-select>
        <mat-icon (click)="toggleEdadDropdown($event)">arrow_drop</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.edad}} </mat-cell>
    </ng-container>

    <!-- Estado  -->
    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Estado
        <mat-select #estadoSelect (selectionChange)="onEstadoChange($event)" multiple>
          <mat-option *ngFor="let estado of estados" [value]="estado">
            {{estado}}
          </mat-option>
        </mat-select>
        <!-- Agregar esta línea para el icono del filtro -->
        <mat-icon (click)="toggleEstadoDropdown($event)">arrow_drop</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
    </ng-container>

    <!-- Municipio  -->
    <ng-container matColumnDef="municipio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.municipio}} </mat-cell>
    </ng-container>

    <!-- Colonia -->
    <ng-container matColumnDef="colonia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Colonia
        <input matInput (keyup)="applyColoniaFilter($event)" placeholder="Filtrar colonia">
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.colonia}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[100]" showFirstLastButtons></mat-paginator>
</div>
